*.swp
*.swo
*.DS_Store
*.log
*.pid
tmp/
config/database.yml
config/settings.yml
config/development.sphinx.conf
db/sphinx/*
public/library/images/*
public/library/images
test/fixtures/file_tests/backups/
test/fixtures/file_tests/premium_documents.zip
test/fixtures/file_tests/_*.csv
db/sphinx/development
config/development.sphinx.conf
*.lock
db/cstore/
